.footer {
  margin-top: 25px;
  background-color: rgba(0, 13, 17, 0.247);
  text-align: center;
  font-size: medium;
  font-weight: bold;
  padding: 15px 0;
}
.footer a {
  color: black;
  cursor: pointer;
}
.footer a:hover {
  color: green;
  cursor: pointer;
}
.footer .footer__fixed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 116px;
  max-width: 962px;
  bottom: 0;
}
