.body {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.body .mySidebar {
  flex: 0.1;
  background-color: rgb(255, 240, 240);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.body .konten {
  flex: 2;
}
